.header {
  height: 400px;
  width: 100%;
  background-color: #033d00;
  background-image: url("../images/brick-wall.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-avatar {
  height: 160px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-avatar {
  max-height: 160px;
  margin-top: 5px;
}

.container-username {
  height: 120px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-username {
  color:#FFFFFF;
  margin: 0em;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {

  .header {
    width: 30vw;
    height: 40vh;
    margin: 3em;
    flex-grow: 1;
  }

  .container-avatar {
    height: 8em;
    width: 4em;
  }
  .container-username {
    height: 2em;
    width: 100%;
  }

  .header-avatar {
    height: 8em;
  }

  .header-username {
    font-size: 1em;
  }

}