.nav-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  display: flex;
  margin: 0em 1.5em;
}

.write-new-tweet {
  color:#FFFFFF;
  display: flex;
  margin: 0em 1.5em;
  flex-direction: column;
  align-items: center;
}

.text {
  color:#FFFFFF;
}

.icon {
  color:red;
}